{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <section id="title">
    <div class="row">
      <h1 class="h1 p-3">Cocktails</h1>
      <hr />
    </div>
  </section>
  <section class="row">
    {% for drink in drinks %}
    <div class="card mx-2 my-4" style="width: 200px">
      {% if drink.photo_set.first.url %}
      <img
        src="{{ drink.photo_set.last.url }}"
        class="card-img-top ratio ratio-1x1 pt-2"
        alt="#"
      />
      {% else %}
      <img
        src="https://i.imgur.com/6I2vJSr.jpg"
        class="card-img-top ratio ratio-1x1 pt-2"
        alt="#"
      />
      {% endif %}
      <div class="card-body">
        <a href="{% url 'detail' drink.id %}">
          <h5 class="card-title">{{ drink.name }}</h5>
        </a>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
