body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

#bg-main {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card {
  color: black;
  animation: moveInLeft 1s ease-out;
  margin: 5px 0px;
}

#id_ingredients {
  padding: 10px 0px;
  margin: 10px 0px;
  max-height: 400px;
  overflow: scroll;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
