{% extends 'base.html' %} {% block content %}

<h1 class="h1">Drink Details</h1>

<section class="container">
  <table class="table-dark">
    <tbody>
      <tr>
        <td>Cocktail:</td>
        <td>{{ drink.name }}</td>
      </tr>
      <tr>
        <td>Ingredients:</td>
        <td>{{ drink.get_ingredients_display }}</td>
      </tr>
      <tr>
        <td>Instructions:</td>
        <td>{{ drink.instructions }}</td>
      </tr>
    </tbody>
  </table>
</section>

<div class="">
  {% if drink.user_id == user.id %}
  <a href="{% url 'drinks_update' drink.id %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'drinks_delete' drink.id %}" class="btn btn-danger">Delete</a>
  <a href="#" class="btn btn-warning">Favorite</a>
  {% else %} {% endif %}
  <a href="/index" class="btn btn-outline-danger">GO BACK</a>
</div>

{% endblock content %}
